:root{
    --phhtalogreen: rgb(0, 25, 2);
    --honeydew: rgb(246, 255, 238);
    --darkchocolate: rgb(61, 23, 1);
}
h1,h2,h3,h4,h5,h6{
    font-family: regulator-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--darkchocolate) !important;
}
p{
    font-family: regulator-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--phhtalogreen) !important;
}

.hero{
    background-image: url(imgs/PelSkinImg.jpg);
    background-position: center;
    background-size: cover;
}
.space{
    height: 200px;
}
.high-m{
    max-height: 100px;
}

.high{
    height: 50vh;
}

.high-2{
    height: 15vh;
}

.high-b{
    height: 60vh;
}
.high-b-2{
    height: 30vh;
}
.high-b-3{
    height: 20vh;
}
.high-b-4{
    height: 15vh;
}

.bg-pg{
    background-color: var(--phhtalogreen);
}
.bg-dsb{
    background-color: var(--darkskyblue);
}
.bg-fsb{
    background-color: var(--frenchskyblue);
}
.bg-tg{
    background-color: var(--teagreen);
}
.bg-hd{
    background-color: var(--honeydew);
}

.right-sticky{
    position: sticky;
    height: 30vh;
    bottom: 0;
    background-color: var(--phhtalogreen);
}


/* THIS IS PART OF THE MULTI ITEM CAROUSEL*/


@media(min-width: 672px){
    .right-sticky-md{
        position: sticky;
        top: 0;
        height:100vh;
        background-color: var(--phhtalogreen);
    }
    
.high-md{
    height: 50vh;
}
.space-md{
    height: 300px;
}

.high-md-b{
    height: 60vh;
}
.high-md-b-2{
    height: 30vh;
}
.high-md-b-3{
    height: 20vh;
}
.high-md-b-4{
    height: 15vh;
}
}


@media(min-width: 960px){
    .right-sticky-lg{
        position: sticky;
        top: 0;
        height:100vh;
        background-color: var(--phhtalogreen);
    } 
    .space-lg{
        height: 400px;
    }

    .nav-width-xl{
        max-width: 1024px !important;
        margin-left: 60px;
    }

    .high-lg-b{
        height: 60vh;
    }
    .high-lg-b-2{
        height: 30vh;
    }
    .high-lg-b-3{
        height: 20vh;
    }
    .high-lg-b-4{
        height: 15vh;
    }

}