body{
    position: relative;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Syne', sans-serif !important;
    font-weight: 600;
}
p{
    font-family: 'Syne', sans-serif !important;
    font-weight: 400;
}

.bg-darkgreen{
    background-color: hsl(95, 88%, 10%) !important;
}
.bg-lightgreen{
    background-color: hsl(94, 73%, 96%) !important;
}
.bg-greygreen{
    background-color: hsl(92, 9%, 65%) !important;
}
.bg-teracotta{
    background-color: hsl(25, 74%, 65%) !important;
}

.darkgreen{
    color: hsl(95, 88%, 10%) !important;
}
.lightgreen{
    color: hsl(94, 73%, 96%) !important;
}
.greygreen{
    color: hsl(92, 9%, 65%) !important;
}
.teracotta{
    color: hsl(25, 74%, 65%) !important;
}


.spacer{
    height: 6vh;
}

.testing{
    height: 120px !important;
    overflow: scroll !important;
    scroll-behavior: auto;
}

.card{
    border: none;
}

#heroVideo{
    position: absolute;
    right: 0px;
}

.heroContent{
    color: white !important;
    background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px){
    .spacer-md{
        height: 8vh;
    }
}

@media (min-width: 992px){
    .spacer-lg{
        height: 10vh;
    }
}