:root{
    --phhtalogreen: rgb(0, 25, 2);
    --darkskyblue: rgb(1, 55, 122);
    --frenchskyblue: rgb(130, 192, 255);
    --teagreen: rgb(200, 220, 179);
    --honeydew: rgb(246, 255, 238);
}

.hero{
    background-color: var(--frenchskyblue);
    min-height: 600px;
}

.high{
    height: 50vh;
}

.high-2{
    height: 15vh;
}

.high-b{
    height: 60vh;
}
.high-b-2{
    height: 30vh;
}
.high-b-3{
    height: 20vh;
}
.high-b-4{
    height: 15vh;
}

.bg-pg{
    background-color: var(--phhtalogreen);
}
.bg-dsb{
    background-color: var(--darkskyblue);
}
.bg-fsb{
    background-color: var(--frenchskyblue);
}
.bg-tg{
    background-color: var(--teagreen);
}
.bg-hd{
    background-color: var(--honeydew);
}

.right-sticky{
    position: sticky;
    height: 30vh;
    bottom: 0;
    background-color: var(--phhtalogreen);
}


/* THIS IS PART OF THE MULTI ITEM CAROUSEL*/


@media(min-width: 672px){
    .right-sticky-md{
        position: sticky;
        top: 0;
        height:100vh;
        background-color: var(--phhtalogreen);
    }
    
.high-md{
    height: 50vh;
}

.high-md-b{
    height: 60vh;
}
.high-md-b-2{
    height: 30vh;
}
.high-md-b-3{
    height: 20vh;
}
.high-md-b-4{
    height: 15vh;
}
}


@media(min-width: 960px){
    .right-sticky-lg{
        position: sticky;
        top: 0;
        height:100vh;
        background-color: var(--phhtalogreen);
    } 

    .nav-width-xl{
        max-width: 1024px !important;
        margin-left: 60px;
    }

    .high-lg-b{
        height: 60vh;
    }
    .high-lg-b-2{
        height: 30vh;
    }
    .high-lg-b-3{
        height: 20vh;
    }
    .high-lg-b-4{
        height: 15vh;
    }

}