h1, h2, h3, h4, h5, h6{
font-family: 'Cabin Sketch', cursive !important;
}
p{
font-family: 'Poppins', sans-serif !important;
}
.navbar{
    background-image: linear-gradient(to right, rgb(91, 199, 127), rgb(3, 49, 18) 60%, rgb(91, 199, 127));
}
.nav-link{
    color:rgb(3, 49, 18) !important;
}
.navbar-brand{
    font-family: 'Cabin Sketch', cursive !important;
    font-size: 30px;
    font-weight: 400;
    transition-property: font-weight;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}
.navbar-brand:hover{
    font-weight: 700;
}


