:root{
    --neonpink: #961ca0;
    --neonblue: #0074fb;
    }
.navbar{
    background-image: linear-gradient(0deg, rgba(4,19,59,1) 4%, rgba(0,116,251,1) 7%, rgba(150,28,160,1) 11%, rgba(8,30,87,1) 15%, rgba(0,0,0,1) 95%);
}
.nav-link{
    font-family: 'Redacted Script', cursive !important;
    color:rgb(0, 191, 255) !important;
    font-weight: 400;
    transition-property: font-weight;
    transition-duration: 2s;
    transition-delay: 3ms;
}

.nav-link:hover{
    font-weight: 700;
}
.bgdark{
    background-color: black;
}
.foot-bg{
    background-image: linear-gradient(180deg, rgba(4,19,59,1) 4%, rgba(0,116,251,1) 7%, rgba(150,28,160,1) 11%, rgba(8,30,87,1) 15%, rgba(0,0,0,1) 95%);
}
.high{
    height:100px;
}
#navbrand{
    color: var(--neonpink);
}
.navbar-brand{
    font-family: 'Jura', sans-serif !important;
    font-size: 30px;
}

.translate div{
    opacity: .85;
    overflow: hidden;
}

#DA div{
    background: url("imgs/Dancer1B.png");
    background-size: contain;
}
#DB div{
    background: url("imgs/Dancer2B.png");
    background-size: contain;
}
#DC div{
    background: url("imgs/Dancer3B.png");
    background-size: contain;
}

#Q div{
    background: url("imgs/QuoteB.png");
    background-size: contain;
}

#GA div{
    background: url("imgs/Girl1B.png");
    background-size: contain;
}
#GB div{
    background: url("imgs/Girl2B.png");
    background-size: contain;
}
#GC div{
    background: url("imgs/Girl3B.png");
    background-size: contain;

}



#DA .imgB:hover{
    transform: translate(25px) rotate(3deg);
}

#DB .imgB:hover{
    transform: translate(0px, 15px);
    filter: contrast(200%) blur(2px);
}

#DC .imgB:hover{
    transform: translate(25px) rotate(-3deg);
}

#Q .imgB:hover{
    transform: translate(-25px, -15px);
    filter:brightness(8);
}

#GA .imgB:hover{
    transform: translate(-25px);
    filter: blur(5px);

}

#GB .imgB:hover{
    transform: rotate(180deg);
    filter: hue-rotate(30deg);
}

#GC .imgB:hover{
    transform: translate(25px);
    filter: blur(5px);
}

.imgA:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: contrast(3) hue-rotate(60deg);
  }

  .imgC:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: contrast(4) hue-rotate(240deg);
  }


.imgs{
    opacity: .4;
}


