:root{
    --phhtalogreen: rgb(0, 25, 2);
    --honeydew: rgb(246, 255, 238);
    --darknude: rgb(32, 14, 3);
    --nude: rgba(240, 223, 181, 0.85);
    --lightnude: rgb(255, 247, 241);

}
h1, h2, h3, h4, h5, h6{
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--darknude) !important;
}
p{
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--darknude) !important;
}
.pad-n{
    padding: 0;
}
.space-prod{
    height: 100px;
}
.f-w{
    font-weight: 700 !important;
}
.f-h{
    font-size: 3.5rem !important;
    line-height: .8;
}

.roc-g-w{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 500;
    font-style: normal;
    color: var(--darknude) !important;
}
.gopher{
    font-family: gopher, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    color: var(--darknude) !important;
}

.nav-bar{
    background-color: rgb(240, 223, 181);
    color: var(--darknude) !important;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
}
.logo-img-h{
    height: 60px;
}

form{
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.accordion-button{
    background-color: rgb(240, 223, 181) !important;
    color:rgb(32, 14, 3)!important;
}

.test{
    height: 20vh;
}
.no{
    margin: 0;
    padding: 0;
}

.nav-link{
    color: var(--darknude) !important;  
}

.fs-6 {
    font-size: .8rem !important;
  }

.hero{
    background-image: url(imgs2/PelHero.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
}
.hero-shop{
    background-image: url(imgs2/PelHero.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
}
.hero-faq{
    background-image: url(imgs2/faq_hero.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 300px;
}
.space{
    height: 200px;
}

.btn{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 500;
    font-style: normal;
}

.bi-bag-heart{
    font-size: 18px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2832, 14, 3, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

.half-line{
    line-height: .75 !important;
}
.high-m{
    max-height: 90px;
    position: absolute;
    top: -60px ;
}
.high-m-2{
    max-height: 300px;
}
.high{
    height: 50px;
}

.opacity{
    opacity: 0.45;
}

.hero-txt{
    font-size: 150px;
    position: absolute;
    top: 15px;
    left: -35px;
    line-height: .6;
}

.card{
    background-color: transparent !important;
}
.card-body{
    background-color: var(--lightnude)!important;
}

.bg-nude{
    background-color: var(--nude)!important;
}
.bg-ln{
    background-color: var(--lightnude)!important;
}
.bg-dn{
    background-color: var(--darknude)!important;
}
.ln{
    color: var(--lightnude)!important;
}
.dn{
    color: var(--darknude)!important;
}
.page-link{
    background-color: var(--darknude);
    color: var(--lightnude);
}
.num{
    background-color: var(--lightnude) !important;
    color: var(--darknude) !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.btn-outline-dark{
    border-width: 2px;
    border-color: var(--darknude) !important;
    color: var(--darknude) !important;
}
.btn-outline-dark:hover{
    background-color: var(--darknude) !important;
    color: var(--nude) !important;
}
.btn-dark{
    background-color: var(--darknude) !important;
    color: var(--nude) !important; 
}

.right-sticky{
    position: sticky;
    height: 30vh;
    bottom: 0;
    background-color: var(--lightnude);
}

.icon-img{
    left: 95px;
}

.card-img-overlay{
    border-style: none;
    border-color: var(--darknude);
    border-width: 2px;
}
.accordion-item{
    background-color: var(--lightnude);
    border: 1px solid rgb(0, 0, 0);
}
.form-check-input:checked {
    background-color: var(--darknude);
    border-color: var(--darknude);
}
.carousel-control-next{
    height: 360px !important;
}
.carousel-control-prev{
    height: 360px !important;
}
.line-high{
    line-height: .8;
}
.bg-texture-a{
    background-image: url(imgs2/blogtexturea.jpg);
}
.bg-texture-b{
    background-image: url(imgs2/blogtextureb.jpeg);
}
.bg-texture-c{
    background-image: url(imgs2/blogtexturec.jpg);
}
.bg-texture-d{
    background-image: url(imgs2/blogtextured.jpg);
}
.blog-hh{
    height: 45vh;
}


@media(min-width: 768px){
    .right-sticky-md{
        position: sticky;
        top: 0;
        height:95vh;
        background-color: var(--lightnude);
    }
    .hero-md{
        background-image: url(imgs2/PelHero.jpg);
        background-position: center;
        background-size: cover;
        min-height: 500px;
    }
    .hero-faq-md{
        background-image: url(imgs2/faq_hero.jpeg);
        background-position: center;
        background-size: cover;
        min-height: 350px;
    }

.hero-txt-md{
    font-size: 190px;
    position: absolute;
    top: 100px;
    left: 160px;
    line-height: .65;
    text-align: center;
}
    
.high-md{
    height: 50vh;
}
.icon-img-md{
    left: -5px;
}
.half-line-md{
    line-height: .65 !important;
}
.space-md{
    height: 300px;
}
.ethics-h1-md{
    font-size: 7.2vw;
}
.blog-h1-md{
    font-size: 4.8vw;
}
.lead-md{
    font-size: 1rem !important;
}
.card-img-overlay{
    border-style: solid;
    border-color: var(--darknude);
    border-width: 2px;
}
.blog-h-md{
    height: 30vh;
}
.blog-hh-md{
    height: 30vh;
}

}


@media(min-width: 992px){
    .right-sticky-lg{
        position: sticky;
        top: 0;
        height:98vh;
        background-color: var(--lightnude);
    }

    .hero-xl{
        background-image: url(imgs2/PelHero.jpg);
        background-position: center;
        background-size: cover;
        min-height: 600px;
    }
    .hero-faq-xl{
        background-image: url(imgs2/faq_hero.jpeg);
        background-position: center;
        background-size: cover;
        min-height: 400px;
    }
    
    .hero-txt-lg{
        font-size: 220px;
        position: absolute;
        top: 10px;
        left: 400px;
        line-height: .75;
        text-align: center;
    } 

    .space-lg{
        height: 400px;
    }
    .lead-md{
        font-size: 1.5rem !important;
    }

    .half-line-xl{
        line-height: .5 !important;
    }
    .icon-img-lg{
        left: 5px;
    }
    .nav-mt-lg{
        margin-top: 20px;
    }
    .nav-ml-lg{
        margin-left: 43px;
    }
    .pad-lg{
        padding-left: 30px;
        padding-right: 20px;
    }
    .pl-lg{
        padding-left: 40px;
    }
    .card-img-overlay{
        border-style: solid;
        border-color: var(--darknude);
        border-width: 2px;
    }
    .blog-h-lg{
        height: 45vh;
    }

}