:root{
    --phhtalogreen: rgb(0, 25, 2);
    --honeydew: rgb(246, 255, 238);
    --darknude: rgb(32, 14, 3);
    --nude: rgba(240, 223, 181, 0.85);
    --lightnude: rgb(255, 247, 241);

}
h1, h2, h3, h4, h5, h6{
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--darknude) !important;
}
p{
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--darknude) !important;
}
.pad-n{
    padding: 0;
}
.space-prod{
    height: 100px;
}
.f-w{
    font-weight: 700 !important;
}
.f-h{
    font-size: 3.5rem !important;
    line-height: .8;
}

.roc-g-w{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 500;
    font-style: normal;
    color: var(--darknude) !important;
}
.gopher{
    font-family: gopher, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    color: var(--darknude) !important;
}

.nav-bar{
    background-color: rgb(240, 223, 181);
    color: var(--darknude) !important;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
}

form{
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.test{
    height: 10vh;
}

.nav-link{
    color: var(--darknude) !important;  
}

.fs-6 {
    font-size: .8rem !important;
  }

.hero{
    background-image: url(imgs2/PelHero.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
}
.hero-shop{
    background-image: url(imgs2/PelHero.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
}
.space{
    height: 200px;
}

.btn{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 500;
    font-style: normal;
}

.bi-bag-heart{
    font-size: 18px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2832, 14, 3, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

.half-line{
    line-height: .75 !important;
}
.high-m{
    max-height: 100px;
}
.high-m-2{
    max-height: 300px;
}
.high{
    height: 50px;
}

.opacity{
    opacity: 0.65;
}

.pos{
    position: absolute;
}
.hero-txt{
    font-size: 160px;
    position: relative;
    top: -30px;
    line-height: .7;
    transform: translateX(-12%);
    overflow: hidden;
}

.card{
    background-color: transparent !important;
}
.card-body{
    background-color: var(--lightnude)!important;
}

.bg-nude{
    background-color: var(--nude);
}
.bg-ln{
    background-color: var(--lightnude);
}

.right-sticky{
    position: sticky;
    height: 30vh;
    bottom: 0;
    background-color: var(--lightnude);
}


/* THIS IS PART OF THE MULTI ITEM CAROUSEL*/


@media(min-width: 672px){
    .right-sticky-md{
        position: sticky;
        top: 0;
        height:95vh;
        background-color: var(--lightnude);
    }
    .hero-md{
        background-image: url(imgs2/PelHero.jpg);
        background-position: center;
        background-size: cover;
        min-height: 500px;
    }
    
.high-md{
    height: 50vh;
}
.half-line-md{
    line-height: .65 !important;
}
.space-md{
    height: 300px;
}

}


@media(min-width: 960px){
    .right-sticky-lg{
        position: sticky;
        top: 0;
        height:98vh;
        background-color: var(--lightnude);
    } 

    .hero-xl{
        background-image: url(imgs2/PelHero.jpg);
        background-position: center;
        background-size: cover;
        min-height: 600px;
    }

    .space-lg{
        height: 400px;
    }

    .half-line-xl{
        line-height: .5 !important;
    }

}